body {
    background-color: white;
}

.RowFooter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Content {
    min-height: 600px;
    align-content: center;
    text-align: center;
}