.TopHeader {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 20px;
    font-weight: bold;
    font-size: 19px;
}

.TopImg {
    padding-left: 0 !important;
    padding-right: 0 !important;
}